{% extends 'web/base.html' %}
{% block content %}

    <h1>your list sites</h1>
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for site in object_list %}

                <tr class="{% if site.status %}table-success{% else %}table-danger{% endif %}">
                    <td>{{ site.id }}</td>
                    <td>{{ site.name }}</td>
                    <td>{{ site.url }}</td>
                    <td>
                        <a href="{% url 'site' site.id %}" class="btn btn-outline-secondary">Open site</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ page_obj.number }} Of {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
            {% endif  %}
        </ul>
    </nav>
{% endblock %}