<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sites list</title>
</head>
<body>
    <h1>your list sites</h1>
    <ul>
        {% for site in object_list %}
            <li>
                <a href="{% url 'site' site.id %}">{{ site.name }} (<i>{{ site.url }}</i>)</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>